:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* colors */
    --red: #F94F4F;
    --black: #191921;
    --red-hover: #FF9393;
    --black-hover: #434356;
}

p {
    line-height: 1.6;
}

a {
    font-size: 1.2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}
/* buttons */
.red_btn {
    display: inline-block;
    background-color: var(--red);
    padding: 1.2rem 2.2rem;
    cursor: pointer;
    height: fit-content;
}

.red_btn:hover {
    background-color: var(--red-hover);
}

.red_btn>* {
    color: white;
    font-weight: 800;
}

/* header */
header {
    height: calc(100vw / 3.375);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

/* menu */
#mobile_btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 18px;
    background-image: url(./assets/mobile/icon-hamburger.svg);
}
#mobile_btn.opened_menu_icon {
    width: 20px;
    height: 20px;
    background-image: url(./assets/mobile/icon-cross.svg);

}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    
}
.menu_link {
    color: white;
    font-size: 1em;
}
.menu_link:hover {
    -webkit-text-stroke: 1px white;
}
#nav_container {
    background-color: var(--black);
    position: absolute;
    top: calc(100vw / 3.375);
    right: 1.8rem;
    max-height: 0;
    overflow: hidden;
    transition: 600ms;
}
#nav_container.active {
    max-height: 999px;
    padding: 2rem 2rem;
}
/* hero */
#hero_img {
    width: 100%;
    height: calc(100vw / 1.875);
    background-image: url(./assets/mobile/image-hero.jpg);
    background-size: cover;
}
#hero_content{ 
    padding: 3.6rem 2rem;
}

#hero_content>*{
    margin-bottom: 1.4rem;
}

/* section strategic */
#strategic_img {
    width: 100%;
    height: calc(100vw / 1.875);
    background-image: url(./assets/mobile/image-strategic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#strategic_content{
    padding: 3.6rem 2rem;
    background-color: var(--black);
    color: white;
}

#strategic_content::before {
    content: '';
    display: block;
    height: 2.25rem;
    background-image: url(./assets/desktop/bg-pattern-wave-red.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -4.725rem;

}

#strategic_content>*>*{
    margin-bottom: 1.4rem;
}

.first_word {
    color: var(--red);
}

#strategic_content a {
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--red);
}

#strategic_content a::after {
    content: '';
    width: 100%;
    height: 2px;
    position: relative;
    top: 0.5rem;
    background-color: var(--red);
}

#strategic_content a:hover {
    color: var(--red-hover);
}

#strategic_content a:hover::after {
    background-color: var(--red-hover);
}

/* section approach  */
#approach{
    background-color: var(--red);
    padding: 6rem 2rem;
    color: white;
}

#approach h3{
    margin-bottom: 1.4rem;
}

#approach::before {
    content: 'Our approach for creating a winning brand';
    font-size: 2rem;
    font-weight: 800;
}

#app_01::before {
    content: '01';
    color: rgba(255, 255, 255, 0.350);
    font-size: 5.5rem;
    font-weight: 800;
    position: relative;
    bottom: -3.2rem;
    left: -1rem;
}

#app_02::before {
    content: '02';
    color: rgba(255, 255, 255, 0.350);
    font-size: 5.5rem;
    font-weight: 800;
    position: relative;
    bottom: -3.2rem;
    left: -1rem;
}

#app_03::before {
    content: '03';
    color: rgba(255, 255, 255, 0.350);
    font-size: 5.5rem;
    font-weight: 800;
    position: relative;
    bottom: -3.2rem;
    left: -1rem;
}

/* slide section */
#slide_img{
    width: 100%;
    padding: 2rem 2rem;
    height: calc(100vw * 1.077);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

#project_name {
    font-weight: 800;
}

.img_1 {
    background-image: url(./assets/mobile/image-slide-1.jpg);
}

.img_2 {
    background-image: url(./assets/mobile/image-slide-2.jpg);
}

.img_3 {
    background-image: url(./assets/mobile/image-slide-3.jpg);
}

#slide_content{
    padding: 3.6rem 2rem;
    background-color: var(--black);
    color: white;
}

#slide_content>*>*{
    margin-bottom: 1.4rem;
}

#slide_control>* {
    margin-right: 1.2rem;
    cursor: pointer;
}

#slide_control>*:hover .slide_btn {
    stroke: var(--red-hover);
}

/* footer */
footer {
    padding: 4.5rem 2rem;
}

footer>*{
    margin-bottom: 3rem;
}

/* media  */
@media (max-width: 326px) {
    #nav_container {
        background-color: var(--black);
        width: 100%;
        position: absolute;
        right: 0;
    }
    header{
        padding: 0 1rem;
    }
    #hero_content{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #strategic_content{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #approach{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #slide_img{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #slide_content{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* para tablet */
@media (min-width: 768px) {
    :root{
        font-size: 18px;
    }
    a {
        font-size: 1rem;
    }
    h1 {
        font-size: 3.1rem;
    }
    #mobile_btn {
        display: none;
    }
    header{
        padding: 0 0;
        height: calc(100vw / 5);
    }
    #logo_container{
        padding: 0 2rem;
    }
    .black_btn{
        background-color: var(--black);
        padding: 1.6rem 1.4rem;
    }
    .black_btn:hover{
        background-color: var(--black-hover);
    }
    #nav_container {
        background-color: var(--red);
        max-height: none;
        position: static;
        height: 100%;
        width: 55vw;
        min-width: fit-content;
        padding: 0 2rem;
    }
    #menu {
        height: 100%;
        flex-direction: row;
    }
    #menu > *{
        margin-bottom: 0;
    }
    #menu > * > *{
        font-size: clamp(0.88rem,2.1vw,1.4rem);
    }
    /* hero content */
    #hero{
        display: flex;
        flex-direction: row-reverse;
    }
    #hero_content{
        width: 500px;
        position: absolute;
        left: 0;
    }
    #hero_img{
        background-image: url(./assets/tablet/image-hero.jpg);
        width: 55vw;
        height: calc(55vw * 1.38);
    }
    /* strategic section */
    #strategic{
        display: flex;
        height: calc(658px * 0.82);
        
    }
    #strategic_img{
        width: 378px;
        height: 658px;
        background-image: url(./assets/tablet/image-strategic.jpg);
        z-index: -1;
    }
    #strategic_content{
        width: calc(100% - 378px);
        height: calc(658px * 0.82);
        padding: 3.6rem 2rem 3.6rem 3.4rem;
        
    }
    #strategic_content::before{
        top: 64px;
        right: calc(67.5px + 2rem);
    }
    #strategic_content_box{
        max-width: 310px; 
    }
    /* approach section */
    #approach{
        width: calc(100% - 334px);
        position: relative;
        left: calc(334px);
        padding-top: 2rem;
    }
    #approach::before{
        width: calc(334px - 2rem);
        color: black;
        position: absolute;
        left: calc(-334px + 2rem);
        top: 15rem;
    }
    /* slide section */
    #slide{
        display: flex;
        flex-direction: row-reverse;
    }
    #slide_content{
        width: 378px;
        height: fit-content;
        position: absolute;
        left: 0;
    }
    #slide_content::after{
        content: '';
        display: inline-block;
        width: 64px;
        height: 28px;
        background-image: url(./assets/desktop/bg-pattern-wavy-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: -32px;
        top: calc(3.6rem + 20px);
    }
    #slide_img{
        width: calc(100vw - 334px);
        height: calc((100vw - 334px) * 1.1);
        
    }
    .img_1 {
        background-image: url(./assets/tablet/image-slide-1.jpg);
    }
    
    .img_2 {
        background-image: url(./assets/tablet/image-slide-2.jpg);
    }
    
    .img_3 {
        background-image: url(./assets/tablet/image-slide-3.jpg);
    }
    /* footer  */
    footer{
        padding: 3.5rem 1rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        min-width: fit-content;
    }
    footer h2{
        max-width: 440px;
    }
    footer>*{
        margin-bottom: 0;
    }

}
/* desktop */
@media (min-width: 1024px) {
    :root{
        font-size: max(19px,1.45vw);
    }
    header{
        height: 20vh;
    }
    #nav_container {
        width: 48vw;
        padding-right: 6rem;
    }
    #logo_container{
        padding-left: 6rem;
    }
    #menu > * > *{
        font-size: 1.1rem;
    }
    /* hero section */
    #hero_content{
        width: 55%;
        padding-left: 6rem;
    }
    #hero_img{
        background-image: url(./assets/desktop/image-hero.jpg);
        width: 55%;
        height: calc(55vw * 1.11);
    }
    /* strategic section */
    #strategic{
        height: calc(55vw * 1.1);
    }
    #strategic_img{
        width: 55%;
        height: calc(55vw * 1.34);
        background-image: url(./assets/desktop/image-strategic.jpg);
    }
    #strategic_content{
        width: 45%;
        height: calc(55vw * 1.1);
    }
    #strategic_content::before{
        width: 3.4rem;
        height: 1.5rem;
        top: 4.8rem;
        right: 5.2rem;
    }
    #strategic_content_box{
        max-width: 70%; 
    }
    /* approach section */
    #approach{
        width: 55%;
        left: 45%;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    #approach::before{
        padding-right: 4rem;
        padding-left: 4rem;
        width: 60%;
        left: calc(-45vw + 6rem);
    }
    /* slide section */
    #slide_content{
        width: 55%;
        padding-left: 6rem;

    }
    #slide_content::after{
        width: 3.4rem;
        height: 1.5rem;
        right: -1.7rem;
        top: 4.35rem;
    }
    #slide_img{
        width: 55%;
        height: calc(55vw * 1.1);
        padding-right: 6rem;
        
    }
    .img_1 {
        background-image: url(./assets/desktop/image-slide-1.jpg);
    }
    
    .img_2 {
        background-image: url(./assets/desktop/image-slide-2.jpg);
    }
    
    .img_3 {
        background-image: url(./assets/desktop/image-slide-3.jpg);
    }
     /* footer  */
     footer{
        padding: 3.5rem 6rem;
    }
    footer h2{
        max-width: 55%;
    }

}